body {
    font-family: 'Commissioner', sans-serif;
}

.nav-wrapper {
    background-color: #343a40 !important;
  }

  #map {
    height: 500px;
    width: 100%;
    min-width: 150px;
    border: 2px solid black;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.specs {
    text-align: right;
}

.covidheader {
    text-align: center;
}

.card-panel {
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#searchBtn {
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#card {
    background-color: green;
    display: none;
}
.pc1 {
    height: 300px;
 }
 .pc2 {
    height: 600px;
 }